
%h1-page,
.h1-page {
  color: $gray-900;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

%h3-section,
.h3-section {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
}