.avatar {
  border-radius: 50%;
  flex-shrink: 0;
  height: 3.2rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 3.2rem;

  > img {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
  }
}

.avatar-shadow:after {
  background: url('../../img/avatar_shadow.svg') bottom center no-repeat;
  background-size: contain;
  bottom: -4px;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 85%;
  z-index: -1;
}

.avatar-letter {
  align-items: center;
  background: $white;
  border: 2px solid $purple-500;
  color: $purple-500;
  display: inline-flex;
  font-weight: 900;
  font-size: 1rem;
  justify-content: center;

  &.avatar-lg {
    font-size: 1.4rem;
  }
}

.avatar-22 {
  height: 2.2rem;
  font-size: .85rem;
  width: 2.2rem;
}

.avatar-30 {
  height: 3rem;
  font-size: 1.1rem;
  width: 3rem;
}

.avatar-44 {
  height: 4.4rem;
  width: 4.4rem;
}

.avatar-80 {
  height: 8rem;
  width: 8rem;
} 