.sidebar-expanded .modal:not(.modal-panel) {
  @media (min-width: 992px) {
    padding-left: 25rem !important;
  }
}

.modal-open .page-wrapper {
  filter: blur(4px);
}

.modal-backdrop {
  background-color: rgba(239, 239, 240, 1);

  &.in {
    opacity: .5;
  }
}

.modal:not(.modal-panel) {
  .modal-content {
    box-shadow: 0 10px 20px 0 rgba(47, 49, 59, 0.05);
    border: 0;
    border-radius: 10px;
    display: block;
    width: 100%;
  }

  .modal-body {
    padding: 2rem;
  }

  .modal-xs,
  .modal-sm {
    @media (min-width: 576px) {
      max-width: inherit;
    }
  }

  .modal-xs {
    @media (min-width: 768px) {
      width: 29.5rem;
    }
  }
  
  .modal-sm {
    @media (min-width: 768px) {
      width: 34rem;
    }
  }

  .modal-md {
    @media (min-width: 768px) {
      width: 44rem;
    }
  }

  .js-select2-tags-container ul {
    margin: 1rem 0 0 0;
  }
}

.modal-dialog {
  @include media-breakpoint-up(sm) {
    max-width: inherit;
  }

  @include media-breakpoint-up(md) {
    width: 57rem;

    &:not(.modal-dialog-centered) {
      margin: 75px auto;
    }
  }
}

.modal-content > .btn-close {
  background: none;
  float: right;
  font-size: 1.1rem;
  height: 2rem;
  opacity: .3;
  padding: 0;
  position: relative;
  right: 2rem;
  top: 2rem;
  transition: opacity .1s ease-in-out;
  width: 2rem;
  z-index: 1;

  &:hover {
    opacity: 0.75;
  }
}

// Modal panel
.modal-panel {
  z-index: 1061;
  
  .modal-dialog {
    height: 100%;
    margin: auto;
    position: fixed;
    right: -500px;
    transform: translate3d(0%, 0, 0);
    transition: opacity .3s linear, right .3s ease-in-out;
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 43.3rem;
    }
  }

  &.show .modal-dialog {
    right: 0;
  }

  .modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    height: 100%;
    overflow-y: auto;
  }

  .modal-body {
    padding: 1.5rem 2rem;
  }

  .modal-header {
    border-bottom: 0;
    padding: 1.5rem 2rem;
  }

  .modal-title {
    color: $purple-400;
    font-size: 1.5rem;
    font-weight: 800;

    @include media-breakpoint-down(sm) {
      padding-right: 1.85rem;
    }
  }

  .modal-close {
    background: none;
    color: $gray-400;
    font-size: 1rem;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 1.75rem;
    right: 3.5rem;
    transition: color .1s ease-in-out;

    &:hover {
      color: $gray-500
    }
  }

  .modal-footer {
    border-top: 0;
    padding: 1.5rem 2rem;
    justify-content: center;

    > * {
      margin: 1rem;
    }
  }
}

.modal-header.is-center {
  border-bottom: 1px solid #F0F2F5;

  .modal-title {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.modal-panel.modal-panel-aide {
  img {
    max-width: 100%;
    width: auto;
  }
}