.procedure-box-fluid {
  align-items: flex-start;
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2.5rem;
  grid-auto-flow: dense;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
}

.procedure-box-item {
  background-color: $purple-50;
  border-radius: 1rem;
  padding: 2.5rem 2rem 2rem 2rem;
  position: relative;
  text-align: center;

  .badge {
    font-size: 1.3rem;
    height: 2.8rem;
    left: 50%;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -1.4rem;
    transform: translateX(-50%);
    width: 2.8rem;
  }
}
