.navbar {
    background-color: $white;
    border-bottom: 0;
    height: 6.4rem;
    left: inherit;
    margin-bottom: 0;
    padding: 1.5rem 2rem;
    position: sticky;
    z-index: 1065;

    @include media-breakpoint-down(lg) {
        padding-left: .5rem;
        padding-right: 1rem;
    }

    &-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &-mobile-menu {
        @include media-breakpoint-up(lg) { display: none; }
    }

    &-toggler {
        font-size: 1.25rem;
        padding: 0.5rem 0.75rem;
    }

    &-breadcrumb {
        @include media-breakpoint-down(lg) { display: none; } 

        .breadcrumb {
            background: none;
            margin: 0;
            padding: 0;

            > li {
                color: $gray-500;
                font-size: 1rem;
                transition: color .1s ease-in-out;

                &:hover {
                    color: darken($gray-500, 20%);
                }

                &.active {
                    color: $gray-900;
                }

                a {
                    color: currentColor;
                    text-decoration: none;
                }
            }
        }
    }

    &-brand {
        display: inline-block;
        height: inherit;
        margin-right: 0;
        padding: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        img {
            height: 35px;
        }
    }

    &-item {
        position: relative;

        &:nth-child(2) {
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
        
        &:not(:last-child) {
            margin-right: 1rem;

            @include media-breakpoint-up(lg) {
                margin-right: 2rem;
            }
        }
    }

    &-alert {
        background: none;
        border: 0;
        padding: 0;
        position: relative;
        width: 4.4rem;

        .icon {
            color: $gray-400;
            font-size: 2rem;

            .open & {
                color: $gray-900;
            }
        }

        .badge {
            border: 1px solid $white;
            position: absolute;
            right: 0.15rem;
            top: -0.2rem;
        }
    }

    &-advis {
        align-items: center;
        background: none;
        border-radius: 25px 7px 7px 25px;
        border: 0;
        display: inline-flex;
        padding: .7rem 2.4rem .7rem 1.1rem;

        &-text {
            color: $gray-400;
            font-size: 1rem;
            line-height: 1.1;
            
            b {
                color: $gray-900;
                display: block;
                font-size: 1.2rem;
                font-weight: 600;
                margin-top: 2px;
            }
        }

        img {
            flex-basis: 0;
            height: 2.3rem;
            object-fit: contain;
            margin-right: 1rem;
            width: 2.3rem;
        }

        &.show {
            background-color: #F6F7F9;
        }
    }

    &-user {
        background: none;
        border: 0;
        padding: 0;

        &.show {
            .avatar-letter {
                background: radial-gradient(circle, rgba(255,255,255,0) 0%, $purple-500 0%, $purple-500 50%, $purple-500 100%);
                box-shadow: inset 0px 0px 0px 2px $white;
                color: $white;
            }
        }
    }
}