.budget {
    position:relative;
    grid-column: col / span 2;
    grid-row: row ;
}
.depences {
    position:relative;
    grid-column: col 3/ span 2;
    grid-row: row ;
}
.summary{
    position:relative;
    grid-column: col / span 4;
    grid-row: row 2 ;
}
.summary table{
    width:100%;
}
.summary table th{
    text-align: start;
}
.list{
    position:relative;
    grid-column: col / span 4;
    grid-row: row 3 ;
}
.list table {
    width: 100%
}

.innerdiv {
    margin:1em;
    padding:1em;
    box-shadow: -6px -6px 10px var(--shadow-upperleft), 6px 6px 10px var(--shadow-bottomright);
    border-radius: 5px;
}

.inputWrapper {
    width:100%;
}
.inputWrapper input{
    width:100%;
    height:50px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    background-color:  var(--secondary-background);
    box-shadow: -6px -6px 10px inset var(--shadow-upperleft), 6px 6px 10px inset var(--shadow-bottomright);
    margin-bottom: 1em;
}
.inputWrapper button {
    padding: 0 10px 0 10px;
    /*background-color: var(--btn-primary);*/
    background-color:  var(--secondary-background);
    color:black;
    border-radius: 5px;
    box-shadow: -6px -6px 10px var(--shadow-upperleft), 6px 6px 10px var(--shadow-bottomright);
    height:50px;
}
.inputWrapper button:hover {
    /*background-color: var(--btn-primary-hover);*/
    box-shadow: -8px -8px 12px var(--shadow-upperleft), 8px 8px 12px var(--shadow-bottomright);
}
.inputWrapper button:active {
    /*background-color: var(--btn-primary-hover);*/
    box-shadow: -6px -6px 10px inset var(--shadow-upperleft), 6px 6px 10px inset var(--shadow-bottomright);
}
.containerBudget {
    width:100%;
    height:fit-content;
    margin:2em;
    display:grid;
    background-color: var(--secondary-background);
    grid-template-columns: repeat(4, [col] 25% ) ;
    grid-template-rows: repeat(3, [row] auto  );
}