.sidebar {
    background-color: white;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 25rem;
    z-index: 1065;
  }
  @media (max-width: 991.98px) {
    .sidebar {
      top: 6.4rem;
      transition: none;
      width: 100%;
    }
    .sidebar:not(.show) {
      display: none;
    }
    .sidebar + .page-wrapper {
      padding-left: 0;
    }
  }
  .sidebar:not(.sidebar-compact) .sidebar-wrapper {
    overflow-y: auto;
  }
  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1rem 1rem 1rem;
    position: relative;
  }
  @media (max-width: 991.98px) {
    .sidebar-wrapper {
      overflow-y: auto;
    }
  }
  .sidebar-toggle {
    left: 0.5rem;
    position: absolute;
    top: 1.75rem;
  }
  @media (min-width: 992px) {
    .sidebar-toggle {
      display: none;
    }
  }
  .sidebar-logo {
    display: block;
    margin: 2rem 0 1rem 0;
    text-align: center;
  }
  @media (max-width: 991.98px) {
    .sidebar-logo {
      display: none;
    }
  }
  .sidebar-logo .icon {
    color: #873873;
    height: 3rem;
    width: 3rem;
  }
  .sidebar-menu {
    animation-duration: 550ms;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  .sidebar-menu > li {
    margin: 0.2rem 0;
    position: relative;
  }
  .sidebar-menu > li:hover > a {
    background-color: rgba(135, 56, 115, 0.1);
    color: #873873;
  }
  .sidebar-menu > li:hover > a > .icon,
  .sidebar-menu > li:hover > a > .icon-wrapper,
  .sidebar-menu > li:hover > a .menu-text .icon-angle {
    color: #873873;
  }
  .sidebar-menu > li a {
    align-items: center;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    height: 5rem;
    line-height: 1.3rem;
    padding: 0 1.5rem;
    position: relative;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
  }
  .sidebar-menu > li a > .icon,
  .sidebar-menu > li a > .icon-wrapper {
    color: rgba(184, 185, 188, 0.6);
    font-size: 2rem;
    flex-shrink: 0;
    margin-right: 1.5rem;
  }
  .sidebar-menu > li a .menu-text {
    position: relative;
    width: 100%;
  }
  .sidebar-menu > li a .menu-text .icon-angle {
    color: #B8B9BC;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar-menu > li.is-open {
    border-bottom: 1px solid #F0F2F5;
    margin-bottom: 1rem;
  }
  .sidebar-menu > li.is-open a {
    color: white;
  }
  .sidebar-menu > li.is-open a .icon:not(.icon-angle) {
    color: white;
  }
  .sidebar-menu > li.is-open a .icon-angle {
    color: white !important;
    transform: translateY(-50%);
  }
  .sidebar-menu > li.is-open .menu-dropdown {
    background-color: #873873;
  }
  .sidebar-menu > li.is-open a .icon-angle {
    transform: translateY(-50%) rotate(180deg);
  }
  .sidebar-menu > li.is-open .menu-submenu {
    display: block !important;
  }
  .sidebar-menu .menu-submenu {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    padding: 0.5rem 1rem;
  }
  .sidebar-menu .menu-submenu li a {
    align-items: center;
    color: #2E2E2E;
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
    height: auto;
    line-height: 1.3rem;
    min-height: 3.6rem;
    padding: 0;
  }
  .sidebar-menu .menu-submenu li a:hover {
    color: #873873;
    text-decoration: underline;
  }
  .sidebar-close {
    background: none;
    border: 0;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    height: 4rem;
    line-height: 4rem;
    transition: color 0.1s ease-in-out;
  }
  @media (max-width: 991.98px) {
    .sidebar-close {
      display: none;
    }
  }
  .sidebar-close .icon {
    font-size: 1.6rem;
    margin-right: 1rem;
    vertical-align: middle;
  }
  .sidebar-close:hover {
    color: #873873;
  }
  
  @media (min-width: 992px) {
    .sidebar-compact {
      width: 7rem;
    }
    .sidebar-compact.collapse:not(.show) {
      display: block;
    }
    .sidebar-compact + .page-wrapper {
      padding-left: 7rem;
    }
    .sidebar-compact .sidebar-menu > li.is-open > .menu-submenu {
      display: none !important;
    }
    .sidebar-compact .sidebar-menu > li:hover .menu-submenu {
      display: block !important;
    }
    .sidebar-compact .sidebar-menu > li > a .menu-text {
      display: none;
    }
    .sidebar-compact .sidebar-menu > li a > .icon,
    .sidebar-compact .sidebar-menu > li a > .icon-wrapper {
      margin-right: 0;
    }
    .sidebar-compact .sidebar-menu .menu-submenu {
      background-color: #fbfbfb !important;
      border-radius: 10px;
      box-shadow: 0 5px 15px 0 rgba(47, 49, 59, 0.15) !important;
      display: none !important;
      left: 48px;
      padding: 1rem;
      position: absolute;
      top: 0;
      width: 23rem;
      z-index: 120;
    }
    .sidebar-compact .sidebar-menu .menu-submenu:before {
      content: attr(data-name);
      display: block;
      color: #969799;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.6rem;
      margin-bottom: 1rem;
    }
    .sidebar-compact .sidebar-menu .menu-submenu li a {
      color: #2E2E2E;
    }
    .sidebar-compact .sidebar-menu .menu-submenu li a.is-active, .sidebar-compact .sidebar-menu .menu-submenu li a:hover {
      color: #873873;
      text-decoration: underline;
    }
    .sidebar-compact .sidebar-close {
      transform: rotate(180deg);
    }
    .sidebar-compact .sidebar-close .icon {
      margin-right: 0;
    }
    .sidebar-compact .sidebar-close .menu-text {
      display: none;
    }
  }

  .icon {
    /* Permet de redimensionner en changeant la font-size de l’icône */
    width: 1em;
    height: 1em;
    /* Bel alignement visuel des icônes avec le texte */
    vertical-align: -0.15em;
    /* fill par défaut = valeur de la propriété couleur de son élément parent */
    fill: currentColor;
    /* Les paths et les strokes qui dépassent de la viewBox peuvent apparaître dans IE.
      Si vous utilisez normalize.css, inutile de l’ajouter. */
    overflow: hidden;
    flex: 0 0 auto;
  }

  .page-wrapper {
    min-height: 100vh;
    padding-left: 25rem;
    position: relative;
    width: 100%;
  }