// => https://getbootstrap.com/docs/5.1/utilities/api/#modify-utilities
$utilities: map-merge(
  $utilities, (
    "background-color": map-merge(
      map-get($utilities, "background-color"), (
        values: $theme-colors,
      ),
    ),
    "border-color": map-merge(
      map-get($utilities, "border-color"), (
        values: $theme-colors,
      ),
    ),
    "color": map-merge(
      map-get($utilities, "color"), (
        state: hover, // ex: text-red-500-hover
        values: $theme-colors,
      ),
    ),
    "font-size": map-merge(
      map-get($utilities, "font-size"), (
        values: $font-sizes,
      )
    ),
    "font-weight": map-merge(
      map-get($utilities, "font-weight"), (
        values: $font-weights,
      )
    ),
    "margin": map-merge(
      map-get($utilities, "margin"), (
        values: $spacers,
      ),
    ),
    "margin-x": map-merge(
      map-get($utilities, "margin-x"), (
        values: $spacers,
      ),
    ),
    "margin-y": map-merge(
      map-get($utilities, "margin-y"), (
        values: $spacers,
      ),
    ),
    "margin-top": map-merge(
      map-get($utilities, "margin-top"), (
        values: $spacers,
      ),
    ),
    "margin-end": map-merge(
      map-get($utilities, "margin-end"), (
        values: $spacers,
      ),
    ),
    "margin-bottom": map-merge(
      map-get($utilities, "margin-bottom"), (
        values: $spacers,
      ),
    ),
    "margin-start": map-merge(
      map-get($utilities, "margin-start"), (
        values: $spacers,
      ),
    ),
    "padding-x": map-merge(
      map-get($utilities, "padding-x"), (
        values: $spacers,
      ),
    ),
    "padding-start": map-merge(
      map-get($utilities, "padding-start"), (
        values: $spacers,
      ),
    ),
    "padding-end": map-merge(
      map-get($utilities, "padding-end"), (
        values: $spacers,
      ),
    ),
    "padding-top": map-merge(
      map-get($utilities, "padding-top"), (
        values: $spacers,
      ),
    ),
    "padding-bottom": map-merge(
      map-get($utilities, "padding-bottom"), (
        values: $spacers,
      ),
    ),
  )
);