// -----------------------------------------------------------------------------
// This file contains variables used by this app.
// - They come in addition to those used by Bootstrap
// -----------------------------------------------------------------------------

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Typographie
// $font-base: "Lato", sans-serif;
$font-base: "Inter", sans-serif;

// Colors
$black: black;
$white: white;
$gray-50: #F7F8FA;
$gray-100: #F0F2F5;
$gray-200: #EAECF0;
$gray-300: #CBCCCF;
$gray-400: #B8B9BC;
$gray-500: #969799;
$gray-600: #707171;
$gray-700: #646464;
$gray-900: #2E2E2E;
$purple-50: rgba(#922F76, 0.05);
$purple-100: #F5EBF1;
$purple-400: #A33777;
$purple-500: #873873;
$orange-500: #EB9976;
$blue-400: #727BC2;
$blue-500: #616ED3;
$green-500: #60B58E;
$red-500: #EB7676;
$red-700: #E35D5D;
$pink-500: #C272AF;

$theme-colors: (
  "default": $gray-300,
  "primary": $purple-500,
  "black": $black,
  "white": $white,
  "gray-50": $gray-50,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "purple-50": rgba(#922F76, 0.05),
  "purple-100": $purple-100,
  "purple-400": $purple-400,
  "purple-500": $purple-500,
  "orange-500": $orange-500,
  "blue-400": $blue-400,
  "blue-500": $blue-500,
  "green-500": $green-500,
  "red-500": $red-500,
  "red-700": $red-700,
  "pink-500": $pink-500
);

$spacers: (
  0: 0,
  3: 0.3rem,
  5: 0.5rem,
  7: 0.7rem,
  8: 0.8rem,
  10: 1rem,
  12: 1.2rem,
  15: 1.5rem,
  20: 2rem,
  25: 2.5rem,
  30: 3rem,
  35: 3.5rem,
  40: 4rem,
  45: 4.5rem,
  50: 5rem,
  75: 7.5rem,
  100: 10rem,
  115: 11.5rem,
  auto: auto
);

$grid-gutter-width: 1.5rem;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  20: 2rem,
);

$font-sizes: (
  xs: 1rem,
  sm: 1.2rem,
  sml: 1.3rem,
  base: 1.4rem,
  md: 1.5rem,
  lg: 1.6rem,
  xl: 1.8rem,
  xxl: 2rem,
  2xl: 2.4rem,
  3xl: 3rem,
  inherit: inherit,
);

$font-weights: (
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  bolder: 800,
);


// Forms
// => https://getbootstrap.com/docs/5.0/forms/validation/#loop

$enable-validation-icons: false; // Disable bootstrap icons
$form-feedback-font-size: 1rem;

// Inputs
$input-focus-border-color: $purple-500;

// Checks radios
$form-check-input-width: 1.25em;
$form-check-margin-bottom: .125rem;
$form-check-label-color: $gray-900;

$form-check-input-border: 2px solid $gray-300;
$form-check-input-focus-border: $purple-400;
$form-check-input-focus-box-shadow: inherit;

$form-check-input-checked-color: $purple-400;
$form-check-input-checked-bg-color: $white;
$form-check-input-checked-border-color: $purple-400;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2.5' fill='#{$form-check-input-checked-color}'/></svg>");

// List group
$list-group-border-color: rgba($gray-400, .25);