.alert {
  align-items: center;
  border-radius: 10px;
  box-shadow: none;
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
  text-align: center;
}

.alert-primary {
  background-color: rgba($purple-500, .075);
  border: 0;
  color: $purple-500;
  text-align: left;

  img {
    bottom: -1.5rem;
    position: relative;
  }
}

.alert-danger {
  background-color: rgba($red-500, 0.15);
  background-image: none;
  border: 0;
  border-radius: 6px;
  color: $red-700;
}

.alert-success {
  background-color: $green-500;
  border: 0;
  border-radius: 6px;
  color: $white;
}

.alert-main-placeholder {
  margin: 30vh 0;
  text-align: center;
}

.alert-floating {
  bottom: 2rem;
  position: fixed;
  left: calc(7rem + var(--bs-gutter-x, 1.5rem));
  width: calc(100% - (var(--bs-gutter-x, 1.5rem) * 2) - 7rem);

  .sidebar-expanded & {
    left: calc(25rem + var(--bs-gutter-x, 1.5rem));
    width: calc(100% - (var(--bs-gutter-x, 1.5rem) * 2) - 25rem);
  }
}