.badge.rounded-pill {
  align-items: center;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: normal;
}

.badge-paginate {
  border-radius: .3rem;
  height: 2.2rem;
  line-height: 2.2rem;
  width: 2.2rem;
}