.login-matrix {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  list-style: none;
  padding-left: 0;

  &-key {
    border-radius: 50%;
    background: #F6F7F9;
    border: 2px solid #F6F7F9;
    border: 0;
    color: $gray-900;
    height: 52px;
    font-size: 14px;
    font-weight: 700;
    width: 52px;
    transition: background .1s ease-in-out, color .1s ease-in-out;

    &:hover {
      border: 2px solid rgba(163, 55, 119, 0.3);
      color: $purple-400;
    }

    &:active {
      background: $purple-400;
      color: $white;
    }
  }
}